{% load crispy_forms_tags %}

<form method="post" action="{{ action }}" autocomplete="off" novalidate>
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    <div class="modal-body">
        {% crispy form %}
    </div>
<br>
<br>
<br>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
            <i class="tim-icons icon-simple-remove"></i>&nbsp; Cancelar
        </button>
        {% if object.id %}
            <button type="submit" class="btn btn-sm btn-info">
                <i class="tim-icons icon-pencil"></i>&nbsp; Actualizar
            </button>
        {% else %}
            <button type="submit" id="nuevo-modal-button" class="btn btn-sm btn-success">
                <i class="fa fa-save"></i>&nbsp; Guardar
            </button>
        {% endif %}
    </div>
<br>
<br>
</form>
